@media screen and (max-width:576px) {
 
    .nav-container{
        flex-direction: column;  
        margin-top: 90px;
    }
     .logo-container{
        
        align-items: center;
        gap: 10px;
        padding-top: 0 auto;
        height: 10px;
          
     }
     .logo-container img{
        align-items: center;
        width: 85px;
        height: 40px;
        object-fit: cover;
        margin-bottom: 80px;
        
     }.logo-container p{
        font-size: 30px; 
        font-family: Work Sans;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 125px;
     }

    .nav-item-container{
        flex-direction: column;
        
    }


    .nav-item-containe, .icon-btn{
        margin-top: 10px;

}                   



/*nav responsive End here*/

  .bannar-1{

    flex-direction: column;
    align-items: center;
    
  }

  .bannar-text{
    background-image: url(B8A2-Gamer-Zone-main/images/Group\ 14.png);
    width: 100%;
    padding: 20px auto;
}





}